<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</th:block>


    <!-- sidebar-->
   <div layout:fragment="content"> 
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact__address">
                        <div class="mypage__item__mypic">
                            <img src="img/mypage/강준.jpg" alt="">
                        </div>
                        <div class="section-title">
                            <h2>MyPage</h2>
                        </div>
                     
                        <ul>
                            <li>
                                <a href="./pmypage.html"><h5>내정보</h5></a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="./jjim.html"><h5>찜목록</h5></a> 
                            </li>
                        </ul>
                    
                        <ul>
                            <li>
                                <a href="./pay1.html"><h5>결제대기</h5></a> 
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="./pay2.html" class="back"><h5>결제내역</h5></a> 
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h5>환불내역</h5>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h5>메시지함</h5>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h5>작성한 글 목록</h5>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h5>작성한 댓글/리뷰</h5>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="./favorit.html"><h5>좋아하는 아티스트</h5></a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!--찜목록 조회-->
                <div class="col-lg-8">
                    <div class="contact__form">
                        <div class="section-title">
                            <h3>찜목록</h3>
                        </div>

                        <table class="table" style="text-align: center;">
                            <thead>
                                <th></th>
                                <th>번호</th>
                                <th>카테고리</th>
                                <th>이름</th>
                                <th>아티스트명</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>001</td>
                                    <td>뮤지컬</td>
                                    <td>캣츠</td>
                                    <td>캣츠팀</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>002</td>
                                    <td>k-pop</td>
                                    <td>뉴진스콘서트</td>
                                    <td>뉴진스</td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="primary-btnO4" type="submit">삭제</button>
                           
                    </div>
                </div>


            </div>
        </div>
    </section>
    </div>
    <!-- Contact Section End -->

  


</html>