<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/teamhistory.css}">
</th:block>


    <!-- sidebar-->
   <div layout:fragment="content"> 
   
       
    <div style="background-color: #eee">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> <p th:text="${teamName}"></p> </a>
                        <span>팀이력/ 활동내역</span>
                        <!--<p th:each="empInfo : ${teamMemberList.teamName}"></p>-->
                    </div>
                    <div>
                    	<table>
							<thead>
								
							</thead>
							<tbody>
								<tr th:each="empInfo : ${teamMemberList}">
                                    <td th:text="${empInfo.teamName}" />
									<td th:text="${empInfo.memName}" />
									<td th:text="${empInfo.genreName}" />
									<td th:text="${empInfo.positionName}" />
                                    <td th:text="${empInfo.teamNum}" />
								</tr>
							</tbody>
						</table>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Breadcrumb End -->

	
   

    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                        <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title" style="height: 200px; padding-top: 100px;">
                            <h2>팀프로필</h2>

                        </div>
                        <p>연락은 newjeans@gamil.com으로 부탁드립니다~</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>  
    
    <!-- About Section End -->
   
<!-- About Section Begin -->
<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                 <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 히스토리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a href="#"><h6>팀소개/ 이력</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a href="../teamplan.html"><h6>공연일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a href="#"><h6>연습영상/활동기록</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a href="#"><h6>소통창구</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a href="#"><h6>공지사항</h6></a>
                        </div>
                    </a>

                      
                </div>
            </div>
            <div class="col-lg-9">
                <div class="about__text">
                    <div class="section-title">
                        <h2>팀소개/이력</h2>
                    </div>
                    <div class="mb-5">
                    <img src="../img/team/뉴진스1.jpg" style="border-radius: 40px;" >
                    </div>
                </div>
                

                <div style="display: flex;" class="mb-3" th:each="tmember : ${teamMemberList}">
                    <div th:style="'background-image:url('+${tmember.memProfilePic}+');'" class="teamprofile" >
                    </div>
                    <div style="padding-top: 30px; margin-left: 20px;">
                    <div style="display: flex;"><p>이름 :</p><p th:text="${tmember.memName}" style="margin-left: 10px;"></p></div>
                    <div style="display: flex;"><p>장르 :</p> <p th:text="${tmember.genreName}" style="margin-left: 10px;"></p></div>
                    <div style="display: flex;"><p>포지션 :</p><p th:text="${tmember.positionName}" style="margin-left: 10px;"></p></div>
                   
                    
                    </div>
                </div>

                <!--<div style="display: flex;" class="mb-3">
                    <div style=" border-radius: 50%; overflow: hidden; width: 150px; height: 150px; background-image: url('../img/team/다니엘.jpg'); background-position: center;
                    background-size: cover;" >
                    </div>
                    <div style="padding-top: 30px; margin-left: 20px;">
                    <p>이름 :</p>
                    <p>장르 :</p>
                    <p>포지션 :</p>
                    </div>
                </div>-->
                
            </div>
        </div>
    </div>
</section>
</div>
<!-- About Section End -->
       
   

  


</html>