@charset "UTF-8";

h6:hover {
	height: 50px;
	padding-top: 19px;
	font-weight: 600;
	background-color: #eee;
	color: black;
}

p {
	font-weight: 600;
	text-align: center;
}

tbody tr:hover {
	background-color: #eee;
}


.teamprofile{
	border-radius: 50%;
	overflow: hidden; 
	width: 150px; 
	height: 150px;
	background-size: cover;
	
}